{#

TODO(jlewi): Need to figure out how to keep this in sync with the actual bootstrap.yaml spec.
One option would be to write a simple script to autogenerate this as part of the release process.

#}

{% set CLUSTER_TYPE = env['project'] + '/' + properties['clusterTypeApiV1'] %}

{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set NAMESPACE_COLLECTION = '/api/v1/namespaces' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}

{% set NAME_PREFIX = 'bootstrap' + '-' + env['name'] %}

resources:
- name: {{ NAME_PREFIX }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}
    spec:
      # Creates an external IP through network load-balancer.
      type: LoadBalancer
      ports:
      - port: {{ PORT }}
        targetPort: {{ PORT }}
        protocol: TCP
      selector:

  metadata:
    dependsOn:
    {# We can't create this until the CLUSTER_TYPE has been created which can't happen
       Until the cluster is created.
     #} 
    - {{ CLUSTER_TYPE }}